.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #f2f2f2;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    width: 450px;
  }
  
  .search_input {
    color: #5c5c5c;
    border: 0;
    outline: 0;
    background: none;
    width: 100%;
    line-height: 40px;
  }

  .search_input::placeholder {
    color: #5c5c5c;
    font-weight: 500;
  }
  
  .search_icon {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #5c5c5c;
    text-decoration: none;
    margin-right: 10px;
  }

  .triangle {
    display: inline-block;
    margin-left: 5px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black; 
  }


  @media (max-width: 920px) {
    .custom-navbar {
      display: none !important;
    }
  }
  